body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(148, 13, 160);
    padding: 20px;
    font-size: 32px;
    color: rgb(203 97 180);
}

section {
    background: rgb(255, 0, 136);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}